<html>
    <head>
        <title>{{id}}</title>
    </head>
    <body>
        <form action = "http://localhost:8000/upload" method = "POST" enctype = "multipart/form-data">
            {% for x,y in form %}
                <p> {{y.text}}: </p>
                <div class="form-group">
                    <input type={{y.type}} class="form-control" id="username" name="username">
                </div>
            {% endfor %}
        </form>
    </body>
</html>


<html>
   <body>
        <form action = "http://localhost:8000/upload" method = "POST" enctype = "multipart/form-data">
            <p> Username: </p>
            <div class="form-group">
                <input type="text" class="form-control" id="username" name="username">
            </div>

            <p> Username: </p>
            <div class="form-group">
                <input type="text" class="form-control" id="email" name="email">
            </div>

            <p> Username: </p>
            <div class="form-group">
                <input type="text" class="form-control" id="password" name="password">
            </div>
            <div class="form-group">
                <input type="file" class="form-control" id="file" name = "file" />
            </div>
            <input type = "submit"/>
        </form>   
   </body>
</html>